.footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.contacto,
.empresa,
.soporte,
.redes {
    color: white;
    width: 24.9%;
    text-align: center;
    font-size: 40px;
    background-color: #2e2e2e;
}

.instagram,
.facebook,
.tiktok {
    width: 24%;
    height: 26%;
}

.numero {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
