.contenedorPrincipal {
    background-color: #54514E;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}

.marca {
    display: flex;
    width: 14%;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
}

.nombreTienda {
    font-family: inter;
    font-size: 22px;
    color: white;
}

.categorias {
    display: flex;
    width: 40%;
    color: white;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.caja {
    width: 80%;
    height: 40%;
    border-radius: 14px;
    border-color: none;
    background-color: grey;
    color: black;
}

.busqueda {
    display: flex;
    width: 20%;
    align-items: center;
}

.usuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 14%;
}

.botonRegistro {
    top: 15px;
    width: 40%;
    height: 60%;
    justify-content: center;
    border-radius: 8px;
    background-color: #F6A444;
    font-size: 15px;
}

.home img {
    width: 100%;
    height: 20%;
    margin-bottom: 30%;
}

.home {
    width: 5%;
}

.carrito {
    width: 5%;
}

.carrito img {
    width: 100%;
    height: 20%;
    margin-bottom: 40%;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    width: 23%;
    align-items: center;
    padding-top: 1%;

}

.catalogo img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    
}


.seccion {
    display: flex;
    justify-content: space-around;
    width: 24%;
    align-items: center;
    padding-top: 1%;
}

.seccion img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.oferta {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.oferta img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.refCatalogo, 
.refSecciones,
.ref,
.refB {
    text-decoration: none;
    color:#fff;
}

.refCatalogo:hover, 
.refSecciones:hover,
.ref:hover {
    color: #f6a444;
}


.refB {
    color: #54514E;
}

.resultBusqueda {
    position: absolute;
    top: 10%;
    width: 50%;
    left: 40%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden; /* Evita que las cards se salgan del contenedor */
    background-color: #fff; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    z-index: 1; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #F6A444;;
    border-radius: 8px;
    background-color: #fff;
    max-width: 20%;
  }

  .verTodos {
    margin-top: 10px;
    color: #666; 
    font-size: 14px; 
  }

  .verTodos:hover {
    color: #f6a444;
    text-decoration: underline;                                                                                                                                                                                                                                                                                                                                                                                                 
  }