.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    max-height: 60%;
  }

  .modalContent img {
    border-color: black;
    width: 30%;
  }

.imageProducto {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    
}

.imageProducto img {
    max-width: 100%;
    object-fit: contain;
    padding-top: 3%;
    
}

.productDetails {
    display: flex;
}

.imgProduct {
    flex: 1; 
    margin-right: 4%;
    
  }

.imgProduct img {
    width: 100%;
    height: auto;
  }

  .infoProduct {
    flex: 2;
  }