.main {
    background: url("/image/background.jpg") no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-size: cover;
}
.cardlog{
    max-width: 70%;
    min-height: 810px;
    margin: 40px auto;
    border-radius: 47px;
    background-color: rgb(255, 255, 255);
}
.image{
    border-radius: 47px;

}
.form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    height:100%;
    margin-left: 20px;
    margin-top: 5%;

}

.register {
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: 8%;
}

.form select,
.form input {
   background-color: #f2eded;
}

.redlogin:hover {
    color: #f6a444;
    text-decoration: underline;
}

.home {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:2%;
}

.home:hover {
    color: #f6a444;
    text-decoration: underline;
}