.titleCarrito img {
    width: 100%;
    opacity: 0.7;
}

.titulo {
    font-size: 48px;
    display: flex;
    position: absolute;
    -webkit-text-stroke: 1.5px black;
    color: white;
    align-items: center;
    height: 100%;
}
.titleCarrito {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
